#dev-week-app {
    box-sizing: border-box;
    position: absolute;
    background-color: white;

    display: flex;
    flex-direction: row;

    padding: 50px;

    > *~* {
        margin-left: 10px;
    }

    * {
        box-sizing: border-box;
    }
}